$font-size: (
  xxl: 4rem,
  96px: 96px,
  48px: 48px,
  36px: 36px,
  24px: 24px,
  18px: 18px,
  14px: 14px,
  13px: 13px,
  12px: 12px,
  10px: 10px,
);
$font-weight: (
  regular: 400,
  medium: 500,
  bold: 700,
);
