@use '../../scss/utils/main.scss' as utils;
.project-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 2rem;
  background-color: utils.$neutral-0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__title {
    @include utils.font('l', utils.$neutral-100, bold);
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__group label {
    @include utils.font('s', utils.$neutral-100, bold);
    margin-bottom: 0.5rem;
  }

  &__input,
  &__textarea {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    background-color: utils.$neutral-30;

    &:focus {
      outline: none;
      border-color: utils.$primary;
    }
  }

  &__textarea {
    height: 120px;
    resize: none;
  }

  &__skills-issues {
    display: flex;
    align-items: center;
  }

  &__skills-issues input,
  &__skills-issues textarea {
    flex-grow: 1;
    margin-right: 1rem;
  }

  &__add-button {
    background-color: utils.$primary;
    color: utils.$neutral-0;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(utils.$primary, 20%);
    }
  }

  &__skills-issues--list,
  &__skills-issues--item {
    list-style: none;
    color: utils.$neutral-100;
    padding: 0;
    margin: 0;
  }

  &__skills-issues--list {
    margin-top: 1rem;
    padding-left: 0;
  }

  &__skills-issues--item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 1rem;
    background-color: utils.$neutral-30;
    border-radius: 4px;
    margin-bottom: 0.5rem;
  }

  &__skills-issues--item button {
    background-color: transparent;
    border: none;
    color: utils.$primary;
    cursor: pointer;
    font-size: 0.9rem;
  }

  &__error {
    color: #ec4899;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }
}
