@use '../../scss/utils/main.scss' as utils;
.footer {
  padding: 40px 20px;
  @include utils.flexbox(column, center, center, 2rem);
  max-width: 100%;
  margin: 1rem auto;

  &__contact {
    @include utils.flexbox(column, center, center, 1rem);
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__text {
    @include utils.font('s', utils.$neutral-0, 'bold');
    margin-bottom: 8px;

    a {
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: utils.$secondary;
      }
    }
  }

  &__legals {
    flex: 1;
    max-width: 100%;
    font-size: 1rem;
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 100%;
    max-width: 100%;
    @include utils.flexbox(row, space-between, end);
    &__contact {
      @include utils.flexbox(column, center, start);
    }
    &__text {
      @include utils.font('m', utils.$neutral-0, 'bold');
    }

    &__legals {
      @include utils.flexbox(column, center, end);
    }
  }
}
