@use '../../scss/utils/main.scss' as utils;
.projects {
  padding: 7rem 2rem 2rem 2rem;
  &__container {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    @include utils.flexbox(column, center, center, 1rem, wrap);
  }
}
@media screen and (min-width: 768px) {
  .projects {
    &__container {
      @include utils.flexbox(row, center, center, 1rem, wrap);
      max-width: 1000px;
      margin-top: 50px;
    }
  }
}
