@use '../../scss/utils/main.scss' as utils;
.projects__container {
  margin: 0 auto;
  padding: 20px 0;
  margin-top: 50px;
  border-radius: 20px;
  @include utils.flexbox(column, center, center, 1rem, wrap);
}
@media screen and (min-width: 768px) {
  .projects__container {
    @include utils.flexbox(row, center, center, 1rem, wrap);
    max-width: 1000px;
    margin-top: 50px;
  }
}
