$primary: #ec4899;
$secondary: #16f2b3;
$background: #0d1224;
$background-burger: #313d6b;
$neutral-0: #fff;

$shadow: rgba(0, 0, 0, 0.25);
$outline: rgba(0, 0, 0, 0.5);
$gradient: rgba(0, 0, 0, 0.6);
