@use './colors.scss' as colors;
@use './font-style.scss' as font-style;

@mixin font($size, $color, $weight: regular) {
  font-size: map-get(font-style.$font-size, $size);
  color: $color;
  font-weight: map-get(font-style.$font-weight, $weight);
}
